<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}
    Tanuki Smite League
{% endblock title %}

{% block main%}
<h1>Welcome to Tanuki Smite League!</h1>

<p>Check out the links below to get started!</p>
<p>This website is still under construction, so if some things don't work please bare with us. </p>{% endblock main %}

{% if errno %}
    <p style="color:red;">{{ errno }}: {{ error }}</p>
{% endif %}

{% block content %}

    <div class="container my-5">
        <h1 class="text-center mb-4">Upcoming Matches</h1>

        <div class="mb-5">
            <h2 class="text-center">Upper Division</h2>
            <div class="row row-cols-1 row-cols-md-4 g-4">
                {% for match in matches %}
                    {{ match.division.division_rank }}
                    {% if match.team1.division.division_rank == 0 %}
                        <div class="col">
                            <div class="card h-100 border border-2 border-dark">
                                <div class="card-body">
                                    <h5 class="card-title">{{ match }}</h5>
                                    <p class="card-text">{{ match.read_date }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div>
            <h2 class="text-center">Lower Division</h2>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for match in matches %}
                    {{ match.division.division_rank }}
                    {% if match.team1.division.division_rank == 1 %}
                        <div class="col">
                            <div class="card h-100 border border-2 border-dark">
                                <div class="card-body">
                                    <h5 class="card-title">{{ match }}</h5>
                                    <p class="card-text">{{ match.read_date }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}