<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Auction Rooms</title>
</head>
<body>
    What auction room would you like to enter?<br>
    <input id="room-name-submit" type="button" value="Enter">

    {% if errno %}
        <p style="color:red;">{{ errno }}: {{ error }}</p>
    {% endif %}

    <script>
        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = "tsl";
            window.location.pathname = '/auction/' + roomName + '/';
        };
    </script>
</body>
</html>