{% extends 'base.html' %}

{% load custom_filters %}

{% block title %}
    Create new user
{% endblock title %}

{% block main %}
    <h1 class="text-center">Hello World</h1>

    {% if admin %}
        <h2 class="text-center"><a href="{% url 'user_create' %}">Create Players</a></h2>
    {% endif %}
{% endblock main %}

{% block content %}
    <h2>Create Player</h2>
    <form class="card mt-1 px-3 py-2" action="{% url 'user_create' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
        <label for="playerName" class="form-label">Discord Name</label>
        <input type="text" name="name" class="form-control" id="playerName" placeholder="Enter player name" required>
        </div>

        <div class="mb-3">
            <label for="franchiseSelect" class="form-label">Select Franchise</label>
            <select class="form-select" name="franchise" id="franchiseSelect" required>
                <option value="" selected disabled>Select a franchise</option>
                {% for franchise in franchises %}
                    <option value="{{ franchise.id }}">{{ franchise.franchise_name }}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">
                Please select a franchise.
            </div>
        </div>

        <div class="mb-3">
            <label for="divisionSelect" class="form-label">Select Division</label>
            <select class="form-select" name="division" id="divisionSelect" required>
                <option value="" selected disabled>Select a division</option>
                {% for division in divisions %}
                    <option value="{{ division.id }}">{{ division.division_name }}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">
                Please select a division.
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Create Player</button>
    </form>
{% endblock content %}
