{% extends 'base.html' %}

{% load custom_filters %}

{% block title %}
    Players
{% endblock title %}

{% block main %}
    <h1 class="text-center">Hello World</h1>

    {% if admin %}
        <h2 class="text-center"><a href="{% url 'user_create' %}">Create Players</a></h2>
    {% endif %}
{% endblock main %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h3>Upper Division</h3>
            {% for team in teams %}
                {% if team.division.division_rank == 0 %}
                    <div class="card mb-3">
                        <div class="card-header">
                            <strong>{{ team.franchise.franchise_name }}</strong>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                {% for user_team in team.user_teams %}
                                    <li class="list-group-item">
                                        {{ user_team.user.discord_name }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-6">
            <h3>Lower Division</h3>
            {% for team in teams %}
                {% if team.division.division_rank == 1 %}
                    <div class="card mb-3">
                        <div class="card-header">
                            <strong>{{ team.franchise.franchise_name }}</strong>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                {% for user_team in team.user_teams %}
                                    <li class="list-group-item">
                                        {{ user_team.user.discord_name }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}
